*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3125rem;
}
.heading {
    font-size: 3rem;
}
.content{
    margin-bottom: 3em;
}
.intro {
    padding: 100px 0;
    background-color: #23424A;
    color: #FFF;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: auto;
}
.sub-container{
    width: 60%;
}
.cta{
    font-weight: 700;
    text-transform: uppercase;
    background: #38CFD9;
    color: #23424A;
    padding: 1rem 3rem;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;
}
