@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    max-width: 100%;
}
.container{
    width: min(90%, 1200px);
    margin: 0 auto;
}
header{
    background-color: #2E323F;
}
main{
    background-color: #3B4050;
}
footer{
    background-color: #3B4050;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    color: #fff;
    margin-top: 0;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5em;
}
span{
    color: #A59678;
}

.nav{
    padding: 1em;
}

.nav__list{
    display: none;
}
.nav__item{
    list-style: none;
}
.nav__item + .nav__item{
    margin-left: 2em;
}
.nav__item--button{
    background-color: #A59678;
    padding: .25em 1em;
    border-radius: 2em;
}
.nav__link{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.hero{
    padding: 100px 0;
}

.hero__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.3em;
    color: #fff;
}

.hero__btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #A59678;
    color: #fff;
    padding: .25em 1em;
    border-radius: 2em;
}

.content-container{
    background-color: #fdfaf3;
    text-align: center;
}

section{
    padding: 2em 0;
}

.content__title{
    color: #A59678;
}

.content__text{
    color: #2E323F;
}


.primary-content--title{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.3em;
    color: #A59678;
}

.primary-content--text{
    font-family: 'Montserrat', sans-serif;
    color: #2E323F;
    font-size: 1.3125rem;
    line-height: 1.5em;
    padding: 0 0 1em 0;
}

.side-bar__container{
    text-align: center;
    background-color: #3B4050;
    color: #fff;
    padding: 1em;
    margin-top: 1em;
}

footer{
    margin: 0;
    padding: 2em 0;
}

.footer__title{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    line-height: 1em;
    margin: 1em 0;
}

.footer__item{
    list-style: none;
}

.footer__link{
    text-decoration: none;
}

.footer__content--title, .footer__item--title{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #A59678;
}

.footer__content--text, .footer__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    color: #6F737F;
}
.footer__list{
    padding: 0;
}
.footer__item + .footer__item{
    margin-top: 1em;
}


@media all and (min-width: 700px){
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav__list{
        display: flex;
    }
    
    .hero__title{
        font-size: 5.625rem;
        line-height: 1em;
    }
    .hero__container{
        align-self: center;
    }
    .hero__btn{
        margin: 0;
        display: inline-block;
    }
    .content{
        width: 26%;
    }

    .primary-content{
        width: 60%;
    }
    .side-bar{
        width: 30%;
        align-self: flex-start;
    }
    .footer__content{
        width: 40%;
        align-self: flex-start;
    }
    .footer__links{
        width: 50%;
        /* align-self: flex-start; */
    }
    .footer__list{
        /* border: 1px solid white; */
        align-self: flex-start;
    }
    
}
@media all and (min-width: 1000px){
    .row{
        flex-wrap: nowrap;
    }
}